/**
 * Desarrollo web en Entorno Servidor
 * curso 2024|25
 * 
 * @author Antonio J. Sánchez
 */

#capa { width: 90vw; }

.main { padding: 20px; }

.item { display: table-row; width: 100%; }
.item > img  { width: 150px; margin: 20px; box-shadow: 2px 2px 5px #666; float: left; } 
.item > h2   { font-size: 32pt; line-height: 0.5pt; }
.item > h5   { font-size: 14pt; }
.item > p    { text-align: justify; }

/* perfil de usuario */
.profile { border-radius: 50%; width: 64px;}

/* Sistema de puntuación con estrellas */
.estrellas { direction: rtl; }

.estrellas input {
    display: none;
}

label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

label:hover,
label:hover ~ label {
    color: #fd4;
}

input[type="radio"]:checked ~ label {
    color: #fd4;
}
